.container {
  padding-inline: 1rem;
  margin: 0 auto;
  width: 100%;
}
.bg-accent-200 {
  background-color: $accent-color-200;
}
.bg-accent-400 {
  background-color: $accent-color-400;
}
.bg-accent-600 {
  background-color: $accent-color-600;
}
.bg-primary-200 {
  background-color: $primary-color-200;
}
.bg-primary-400 {
  background-color: $primary-color-400;
}
.bg-neutral-200 {
  background-color: $neutral-color-200;
}
.bg-neutral-400 {
  background-color: $neutral-color-400;
}
.accent-200 {
  color: $accent-color-200;
}
.accent-400 {
  color: $accent-color-400;
}
:where([space-type]) {
  &[space-type="0"] {
    margin-top: 0;
  }
  &[space-type="50"] {
    margin-top: 0.5rem;
  }
  &[space-type="100"] {
    margin-top: 1rem;
  }
  &[space-type="150"] {
    margin-top: 1.5rem;
  }
  &[space-type="200"] {
    margin-top: 2rem;
  }
  &[space-type="250"] {
    margin-top: 2.5rem;
  }
  &[space-type="300"] {
    margin-top: 3rem;
  }
  &[space-type="400"] {
    margin-top: 4rem;
  }
  &[space-type="500"] {
    margin-top: 5rem;
  }
  &[space-type="550"] {
    margin-top: 5.5rem;
  }
}
.task-button {
  padding: 0.69rem 2.25rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
}
.wide {
  width: 100%;
}
