@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Creepster:regular);
$accent-color-200: #C1CC41;
$accent-color-400: #1AB8DB;
$accent-color-600: #FF0000;
$primary-color-200: #FFFFFF;
$primary-color-400: #222222;
$primary-color-600: #000000;
$neutral-color-200: #EEEEEE;
$neutral-color-400: #D9D9D9;
$width: 23.44rem;
