@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стилі колонки */
/* .list-wrapper {
  & .list {
    & .list-header {
      & .list-header-target {
      }
    }
    & .list-cards {
    }
    & .card-composer {
    }
  }
} */
.list-wrapper {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  width: 272px;
  /* background-color: var(--bg-card, hsl(228, 14%, 93%)); */
}
.list {
  /* background-color: var(--ds-background-accent-gray-subtlest, hsl(228, 14%, 93%)); */
  background-color: var(--bg-card, hsl(228, 14%, 93%));
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  padding-inline: 1rem;
  /* width: 100% !important; */
}
/* list-header */
.list-header {
  flex: 0 0 auto;
  min-height: 20px;
  /* padding: 10px 8px; */
  position: relative;
}
.list-header-wrapper {
  overflow: hidden;
  /* max-height: 1rem; */
}
.list-header-target {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.list-header-name-assist {
  display: none;
}

textarea.mod-list-name {
  background: #0000;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  height: 28px;
  /* margin: -4px 0; */
  max-height: 256px;
  min-height: 20px;
  /* padding: 4px 8px; */
  resize: none;
}
/* textarea.mod-list-name.is-editing, */
textarea.mod-list-name:focus {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 28px;
  background-color: var(--ds-background-input, #fff);
  box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0879bf);
}

/* меню справа - три крапки */
.list-header-extras {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 1;
}

/* --- / header */

/* list-card */
.list-cards {
    flex: 1 1 auto;
    /* margin: 0 4px; */
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: 0 4px; */
    z-index: 1;
}
.card-composer {
  padding-bottom: 8px;
}
.list-card {
  background-color: var(--ds-surface-raised, #fff);
  border-radius: 3px;
  box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
.list-card-title {
  word-wrap: break-word;
  clear: both;
  color: var(--ds-text, #172b4d);
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
}
.list-card-details {
  overflow: hidden;
  padding: 6px 8px 2px;
  position: relative;
  z-index: 10;
}
.list-card-labels {
  overflow: auto;
  position: relative;
}

textarea.list-card-composer-textarea,
textarea.list-card-composer-textarea:focus {
  /* зробити загальну flex оболонку, щоб у разі збільшення контенту
  усі елементи підлаштовувались і з'їзджали униз */
  /* background: none; */
  /* border: none; */
  /* box-shadow: none; */
  /* height: auto; */
  margin-bottom: 4px;
  max-height: 162px;
  /* min-height: 54px; */
  overflow-y: auto;
  padding: 0.5rem;
}
.card-composer-container {
  display: flex;
  justify-content: space-between;
  max-height: 38px;
  min-height: 38px;
}
.open-card-composer {
  border-radius: 3px;
  color: var(--ds-text-subtle, #5e6c84);
  display: block;
  flex: 1 0 auto;
  /* margin: 2px 0 8px 8px; */
  /* padding: 4px 8px; */
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
}
/* button after textarea */

.atlaskit-portal-container .nch-button--primary, body .nch-button--primary {
    background-color: var(--ds-background-brand-bold,rgb(0, 121, 191));
    border: none;
    box-shadow: none;
    color: var(--ds-text-inverse,#fff);
}
.atlaskit-portal-container .nch-button--primary:hover, body .nch-button--primary:hover {
    background-color: var(--ds-background-brand-bold-hovered,#026aa7);
    border: none;
    box-shadow: none;
    color: var(--ds-text-inverse,#fff);
}

/* icons */
.icon-close:before {
    content: "\e91c";
}
.cc-controls-section .icon-lg {
    color: var(--ds-icon-subtle,#6b778c);
}
.icon-lg, .icon-md, .icon-sm {
    color: var(--ds-icon,#42526e);
}
.icon-lg, .icon-md {
    height: 32px;
    line-height: 32px;
    width: 32px;
}
.icon-lg {
    font-size: 24px;
}

.icon-lg, .icon-md, .icon-sm {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}